* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  overflow: scroll;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-view-div {
  background-color: #FBFBFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div[class*="col-"] {
  padding: 0;
}
div.col-9.col-md-10 {
  padding: 0;
}
div.col-3.col-md-2 {
  padding: 0;
}
div .container-fluid.nav-bar {
  padding: 0;
}
div .container-fluid.side-bar {
  padding: 0;
}
div.container {
  padding: 0;
}
/* nav.nav-bar {
  height: 72px;
} */
