.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #FBB30B;
    font-weight: 400;
    opacity: 1;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #585461;
    opacity: 0.6;
}
.row.gigs-row ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin:.5rem;
    color: #585461;
} 

.row.gigs-nav-row {
    margin: 1.5rem 0 ;
    color: #585461;
}

.row.form-nav-row {

    margin: 3rem 0;
}
div.nav-row-inner.row {
    display: flex;
    
}
table{
    display: table;
    width: 100%;
    overflow: auto;
}
div.nav-row-inner.row .col {
    margin: 0.2rem 0;
}
div.col {
    min-width: 170px;
    max-width: 190px;
}
.form-control {
    border-radius: 12px;
    
    margin: 0;
}


input:focus, .form-select:focus,.form-control:focus {
     
    border-color:#FBB30B ;
    
}
.input.form-control {
    margin: auto;
}

.table-nav-row table {
    border: none;
    border-collapse:separate; 
    border-spacing: 0 1em;
}

.table-nav-row th {
    border: none;
}


.table-nav-row tbody tr {
    background: #ffffff;
    border: 1px solid #F6F6F6;
    border-radius: 15px;
    opacity: 1;

}
/* .row.table-nav-row td {
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    border-radius: 15px;
    opacity: 1;
    margin: 1rem 0;
} */
